*
{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1f3f4;
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f1f3f4;
    color: #000;
}

.logo{
    text-align: left;
    margin-left: 150px;
    margin-top: 50px;
}

.logo img{
    width: 150px;
    height: auto;
    cursor: pointer;
}

.menu ul{
    list-style: none;
    padding: 50px;
    display: flex;
    margin-left: 300px;
    margin-top: -140px;
}

.menu li{
    margin: 0 25px;
}

.menu a{
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.menu li a:hover{
    color: gray;
}

.order-nav-btns{
    margin-left: 1400px;
    margin-top: -110px;
}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: #000;
    padding: 8px 25px;
    border-radius: 25px;
    border: 1px solid #000;
    margin: 5px;
}
.btn:not(.nav-btns button):hover{
    color: gray;
}


@media screen and (max-width: 980px) {
    .logo{
        text-align: left;
        padding: 10px;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li{
        margin: 10px 0;
    }
}

.containter{
    border: 1px solid #f1f3f4;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.product-top img{
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 12px;
    float: left;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 100px;
}

.product-top img:hover{
    transform: scale(1.1);
}

.product-bottom .fa{
    color: #000;
    font-size: 10px;
}

.product-bottom h3{
    font-size:  20px;
}

.product-bottom h5{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}